<!--<div *ngIf="shouldShow()"-->
     <!--class="ngx-pagination btn-group btn-tn btn-toggle-group btn-outline-toggle-group" data-toggle="buttons">-->
  <!--<label  class="btn btn-outline-primary" [ngClass]="{disabled: getPage() == 1}"-->
          <!--(click)="getPage() == 1 ? false : paginate(1)" aria-label="First"-->
  <!--&gt;&laquo;</label>-->
  <!--<label  class="btn btn-outline-primary" (click)="paginate(page)"-->
          <!--[ngClass]="{active: getPage() == page}" *ngFor="let page of getPages()">-->
            <!--{{ page }}-->
  <!--</label>-->
  <!--<label  class="btn btn-outline-primary" [ngClass]="{disabled: getPage() == getLast()}"-->
          <!--(click)="getPage() == getLast() ? false : paginate(getLast())">&raquo;</label>-->
<!--</div>-->
<div>this kpager</div>


